ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

#red {
	background: red;
}

#blue {
	background: blue;
}

#orange {
	background: orange;
}

#yellow {
	background: yellow;
}